.space_device_os {
}

.space_device_os .image_details{
}

.space_device_os .image_details .label_ele {
    float: left;
    width: 140px;
    padding-left: 10px;
    font-weight: bold;
}

.space_device_os .image_details .value_ele {
    float: left;
    width: 160px;
}

.space_device_os .image_details .value_ele_long {
    float: left;
    width: 450px;
}