<div id="ems-construction">
    <div id="book">
        <div class="top-page"></div>

        <div class="content-page">
            <div class="top-spiral"></div>
            <div class="bottom-spiral"></div>

            <div id="home">
                <div class="row-placeholder"></div>
                <h2>We're currently under construction!</h2>
                <div class="row-placeholder"></div>
                <div class="row-placeholder"></div>
                <h3>We`re working hard and believe we`ll launch the website in:</h3>

                <div id="countdown"></div>
                <div class="clear"></div>
                <div class="row-placeholder"></div>
                <div class="links">
                    <div><i>Click </i><a href="https://github.com/JSpaceTeam/shadowfax">here</a><i> for more information about Shadowfax</i></div>
                    <div><i>Click </i><a href="https://github.com/JSpaceTeam/js-easy-rest">here</a><i> for more information about Js-easy-rest</i></div>
                </div><!--end form-wrapper-->
            </div><!--end home-->

        </div><!--end content-page-->

        <div class="bottom-page">

        </div><!--end bottom-page-->
    </div><!--end book-->

</div>

