/*
#physicalInventoryTree .k-sprite.CPU{
    background-image: url("./images/icons/CPU.png");
}
#physicalInventoryTree .k-sprite.PIC{
    background-image: url("./images/icons/PIC.png");
}
#physicalInventoryTree .k-sprite.Fan{
    background-image: url("./images/icons/FAN.png");
}
#physicalInventoryTree .k-sprite.Pow{
    background-image: url("./images/icons/Plug.png");
}
#physicalInventoryTree .k-sprite {
    background-image: url("./images/icons/port.png");
}
.chassis_tooltip_link{
    margin: 5px 0 0 15px;
}

.chassis_spliter{
    border-top: 1px solid #bcbcbc;
    border-bottom: 1px solid #c0d9cf;
    margin: 15px 0;
}
*/

.space_device_inventory {
}

.space_device_inventory .inventory_details{
}

.space_device_inventory .inventory_details .label_ele {
    float: left;
    width: 120px;
    padding-left: 10px;
    font-weight: bold;
}

.space_device_inventory .inventory_details .value_ele {
    float: left;
    width: 160px;
}

.space_device_inventory .inventory_details .value_ele_long {
    float: left;
    width: 450px;
}