<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <objectFactory type="net.juniper.easyrest.yang.mapping.helper.MappingObjectFactory">
    </objectFactory>
    <objectWrapperFactory type="net.juniper.easyrest.yang.mapping.helper.MappingObjectWrapperFactory">
    </objectWrapperFactory>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
               <property name="driver" value="net.juniper.jmp.tracer.db.driver.MysqlTracerDriver" />
               <property name="url" value="jdbc:mysql://127.0.0.1:3306/build_db?useUnicode=true&amp;characterEncoding=UTF-8&amp;zeroDateTimeBehavior=convertToNull" />
               <property name="username" value="jboss" />
               <property name="password" value="netscreen" />
            </dataSource>
       </environment>
    </environments>
    <mappers>
        <mapper resource="orm-mapper.xml"/>
        <package name="net.juniper.db.mapper"/>
    </mappers>
</configuration>
