.s-deviceoverview {
}

.s-deviceoverview .s-summary {
}

.s-deviceoverview .s-summary ul {
    margin: 0px;
    list-style: none
}

.s-deviceoverview .s-summary ul > li{
    line-height:24px;
}

.s-deviceoverview .s-summary ul > li:nth-child(1) {
    float: left;
    width: 140px;
}

.s-deviceoverview .s-summary ul > li:nth-child(2) {
}


.s-deviceoverview .s-configuration {
}

.s-deviceoverview .s-configuration ul {
    margin: 0px;
    list-style: none
}

.s-deviceoverview .s-configuration ul > li {
    line-height:24px;
}

.s-deviceoverview .s-configuration ul > li:nth-child(1) {
    float: left;
    width: 180px;
}

.s-deviceoverview .s-configuration ul > li:nth-child(2) {
}

.s-deviceoverview .s-operation {
}

.s-deviceoverview .s-operation ul {
    margin: 0px;
    list-style: none
}

.s-deviceoverview .s-operation ul > li {
    line-height:24px;
}

.s-deviceoverview .s-operation ul > li:nth-child(1) {
    float: left;
    width: 160px;
}

.s-deviceoverview .s-operation ul > li:nth-child(2) {
}

.s-deviceoverview .s-os {
}

.s-deviceoverview .s-os ul {
    margin: 0px;
    list-style: none
}

.s-deviceoverview .s-os ul > li {
    line-height:24px;
}

.s-deviceoverview .s-os ul > li:nth-child(1) {
    float: left;
    width: 160px;
}

.s-deviceoverview .s-os ul > li:nth-child(2) {
}